.MuiTab-textColorPrimary-66.MuiTab-selected-68{
    color: #f44336 !important;
}
.TabIndicator-colorPrimary-88{
    background-color: #f44336 !important;
}
.MuiFormLabel-root-139.MuiFormLabel-focused-140{
    color: #f44336 !important;
}
.MuiInput-underline-150:after{
    border-bottom: 2px solid #f44336 !important;
}
.MuiFormLabel-root-363.MuiFormLabel-focused-364{
    color: #f44336 !important;
}
.MuiInput-formControl-154{
    margin-right: 10px !important; 
}

.LoginReg-fabProgress-2{
    color: #f44336 !important;
}

.MuiFormHelperText-root-234{
    color: red !important;
}